* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page{
    min-height: 100vh;
    background: linear-gradient(to right top, #43cea2, #185a9d);
    display: flex;
    align-items: center;
    justify-content: center;
}

.glass {
    background: white;
    min-height: 93vh;
    width: 75%;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.4), rgba(255, 255, 255, 0.02));
    border: solid white;
    border-radius: 2rem;
}

.title {
    font-family: 'Roboto Mono', monospace;
    color: white;
    font-size: 4rem;
    margin: 1rem;
    align-items: center;
    justify-content: center;
}

body {
    text-align: center;
    color: rgba(255, 255, 255, 0.705);
}

.subtitle {
    font-family: 'Roboto Mono', monospace;
    color: rgba(255, 255, 255, 0.842);
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

.subtitle2 {
    font-family: 'Roboto Mono', monospace;
    color: rgba(255, 255, 255, 0.836);
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.7rem;
}

input[type=text] {
    padding:5px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type=text]:focus {
    border-color:#333;
}

input[type=submit] { 
    padding: 1%;
    margin: 1rem;
    font-family: 'Roboto Mono', monospace;
    background:rgb(255, 255, 255); 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    box-shadow: #333;
}

.picture {
    height: auto;
    width: auto;
    max-height: 500px;
    max-width: 500px;
}

table{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

th {
    padding: 2%;
    font-size: x-large;
}

td {
    padding: 1%;
    font-size: large;
}